<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">
                  Please enter your login and password!
                </p>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="email">Email</label>
                  <input
                    type="text"
                    id="email"
                    class="form-control form-control-lg"
                    name="email"
                    ngModel
                    required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    #email="ngModel"
                  />
                  <!--  I wrote #email to make it as a reference to know whether the field is touched or has invalid value , I will use it in Error Field -->
                  <div *ngIf="email.touched && email.invalid">
                    <!-- if that  field is touched and  invalid do what is inside this div  -->
                    <div
                      *ngIf="email?.errors?.['required']"
                      [ngStyle]="{ color: 'red' }"
                    >
                      <!-- show this div if this field is touched and is still empty ,
                         the error named required will appear because it is neccessary to write in here 
                         as it put the "require "validation inside the field  -->
                      <!-- ngStyle i wrote it to give the text a style   -->
                      Please write Your Email
                    </div>
                    <div
                      *ngIf="email?.errors?.['pattern']"
                      [ngStyle]="{ color: 'red' }"
                    >
                      <!-- show this div if this field is touched and is still empty ,
                         the error named pattern will appear because it is neccessary to write email in correct pattern order as i wrote it  
                         as it put the "pattern "validation inside the field  -->
                      <!-- ngStyle i wrote it to give the text a style   -->
                      Write Your Email Correctly and it must be like this
                      example@example.com
                    </div>
                  </div>
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX">Password</label>
                  <input
                    type="password"
                    id="typePasswordX"
                    class="form-control form-control-lg"
                    name="password"
                    ngModel
                    required
                    #password="ngModel"
                  />
                  <div *ngIf="password.touched && password.invalid">
                    <div
                      *ngIf="password?.errors?.['required']"
                      [ngStyle]="{ color: 'red' }"
                    >
                      Please Enter Your password
                    </div>
                  </div>
                </div>

                <p class="small mb-5 pb-lg-2">
                  <a class="text-white-50" href="#!">Forgot password?</a>
                </p>

                <a routerLink="" class="btn btn-outline-light btn-lg px-5" type="submit">
                  Login
                </a>
              </form>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"
                  ><i class="fab fa-facebook-f fa-lg"></i
                ></a>
                <a href="#!" class="text-white"
                  ><i class="fab fa-twitter fa-lg mx-4 px-2"></i
                ></a>
                <a href="#!" class="text-white"
                  ><i class="fab fa-google fa-lg"></i
                ></a>
              </div>
            </div>

            <div>
              <p class="mb-0">
                Don't have an account?
                <a routerLink="register" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
