<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="cart.component.css" />
  </head>
  <body>
    


    <ng-container >
      <div class="card-table">
        <div class="cart-product">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
              *ngFor="let product of cart">
            
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td><img src="{{product.image}}" alt=""></td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>
              <div class="quantity">
                <button class="btn btn-success" (click)="addQuantity(product.quantity) ">+</button>
                <input type="number" class="form-control" [(ngModel)]="product.quantity"  min="1">
                <button class="btn btn-warning">-</button>
              </div>
            </td>
            
            <td>{{product.quantity * product.price}}</td>
            <button  class="btn btn-danger" >delete</button>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

 
  </body>
</html>
